front-service/target/ 
front-service/.settings/ 
front-service/.project 
front-service/.classpath 
backend-service/target/ 
backend-service/.project 
backend-service/.classpath 
backend-service/.settings/
